<div class="logueo">

 

<form action='/admin/novedades/agregar' method='post'>

 <center><h3>Cargar Novedad</h3></center>
 </br>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Titulo</label>
    <input type="text" class="form-control" name= 'titulo' id="idtit" aria-describedby="emailHelp">
    
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Subtitulo</label>
    <input type="text" class="form-control" name= 'subtitulo' id="exampleInputPassword1">
  </div>

   <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Cuerpo</label>
    <input type="text" class="form-control" name= 'cuerpo' id="idcuerpo">
  </div>
  
  <button type="submit" class="btn btn-primary">Cargar Novedad</button>

 

</form>


 


</div>

<div class="msj">
  
  {{#if error}}

<p> Error al ingresar en la base</p>


{{/if}}

</div>