

<div class="logueo">



<form action='/admin/instrumentos/modificar' method='post'>

<center><h2> Modificar Instrumento</h2></center>

<input type="hidden" class="form-control" name= 'id' id="idusuario" aria-describedby="emailHelp" value="{{novedades.id}}">
  
  <div class="mb-3">



    <label for="exampleInputEmail1" class="form-label">Titulo</label>
    <input type="text" class="form-control" name= 'titulo' id="itir" aria-describedby="emailHelp" value="{{novedades.titulo}}">
    
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Subtitulo</label>
    <input type="text" class="form-control" name= 'subtitulo' id="exampleInputPassword1" value="{{novedades.subtitulo}}">
  </div>
  
<div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Subtitulo</label>
    <textarea class="form-control" name= 'cuerpo' id="exampleI" >{{novedades.cuerpo}}</textarea>
  </div>

  
  <button type="submit" class="btn btn-primary">Modificar</button>

 

</form>


 


</div>

<div class="msj">
  
  {{#if error}}

<p> No se pudo modificar dato</p>


{{/if}}

</div>